./Management
./MTMath
./Plotting
./LagrangeReduction

numpy
pandas
scipy
matplotlib
sympy
tqdm
paramiko
tabulate
fabric
opencv-python
imageio[ffmpeg]
vtk
powerlaw
simplification
debugpy
PyQt5
pyqtgraph